body {
    margin: 0;
}
.outer{
    height: 40vh;
    width: 100vh;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.maincontainer{
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 4px;
   
}
.circle1{
    background-color: rgb(54, 207, 12);
}
.circle2{
    background-color: blue
}
.circle3{
    background-color: red
}
.circle4{
    background-color: yellow
}
.reset{
    position: absolute;
    top: 540px;
    left: 725px;
}
.arrow {
    
    transition: padding-right 2s; /* Change the duration value */
}
.arrow h1{
    color: coral;
}